In [1]:
import pandas as pd

# Specify the path to your Excel file
excel_file_path = r'C:\Users\Doktor\Documents\GitHub\Bridges\Data\routes_selected_new.xlsx'
survey_file_path = r'C:\Users\Doktor\Documents\GitHub\Bridges\Data\surveys\Survey.csv'
# Load the Excel file into a DataFrame
df = pd.read_excel(excel_file_path)
df_survey = pd.read_csv(survey_file_path, encoding='utf-8', delimiter=',')

In [2]:
# Create a copy of the original DataFrame df
df_routes = df.copy()

In [3]:
import numpy as np

# Iterate through all columns
for column in df_routes.columns:
    df_routes[column] = df_routes[column].replace(', ', np.nan)

# Specify the list of columns to keep
selected_columns = ['ID_mosta', 'Okres',
                    'GPS_Bridge', 'S_New', 'E_New', 'Custom_coor']

# Filter the DataFrame to include only the selected columns
df_routes = df_routes[selected_columns]

In [4]:
df_routes

,ID_mosta,Okres,GPS_Bridge,S_New,E_New,Custom_coor
0,M1979,Skalica,"48.757287384, 17.079098102","48.72919948, 17.04803577","48.802668,17.162506",NaN
1,M1833,Senica,"48.634732118, 16.994970512","48.5862, 16.99134","48.64311,17.006333",NaN
2,M3446,Bratislava IV,"48.241369836, 17.034921066","48.20545, 17.04271821","48.2520919, 17.03327754",NaN
3,M7099,Bratislava IV,"48.18906, 17.0472","48.179992,17.059569","48.20415,17.04315","""coordinates"": [ [ [ 17.034976, 48.241407 ], [..."
4,M5333,Bratislava V,"48.125990691, 17.131040629","48.10122, 17.12139","48.12951, 17.1301",NaN
...,...,...,...,...,...,...
143,M6688,Gelnica,"48.848681353, 20.932527264","48.86099,20.905026","48.868673,20.965148",NaN
144,M917,Trebišov,"48.635651368, 21.71719906","48.610569,21.780682","48.699365,21.707229",NaN
145,M4021,Vranov nad Topľou,"48.985932049, 21.700833584","48.948542, 21.710467","49.05602455, 21.60143348",NaN
146,M1933,Myjava,"48.767957281, 17.562174361","48.78585,17.563592","48.749,17.56663",NaN
147,M5626,Košice II,"48.647647661, 21.203522359","48.628222, 21.165811","48.68493, 21.219049",NaN

In [6]:
# Remove spaces from 'GPS_Bridge', 'S_New', and 'E_New' columns
df_routes['GPS_Bridge'] = df_routes['GPS_Bridge'].str.replace(' ', '')
df_routes['S_New'] = df_routes['S_New'].str.replace(' ', '')
df_routes['E_New'] = df_routes['E_New'].str.replace(' ', '')

# Split the coordinates by ','
df_routes[['br_lat', 'br_long']
          ] = df_routes['GPS_Bridge'].str.split(',', expand=True)
df_routes[['start_lat', 'start_long']
          ] = df_routes['S_New'].str.split(',', expand=True)
df_routes[['end_lat', 'end_long']
          ] = df_routes['E_New'].str.split(',', expand=True)

# Convert the new columns to float (if needed)
df_routes[['br_lat', 'br_long', 'start_lat', 'start_long', 'end_lat', 'end_long']] = df_routes[[
    'br_lat', 'br_long', 'start_lat', 'start_long', 'end_lat', 'end_long']].astype(float)

# Drop the original columns
df_routes.drop(columns=['GPS_Bridge', 'S_New',
               'E_New', 'Custom_coor'], inplace=True)

In [7]:
df_routes

,ID_mosta,Okres,br_lat,br_long,start_lat,start_long,end_lat,end_long
0,M1979,Skalica,48.757287,17.079098,48.729199,17.048036,48.802668,17.162506
1,M1833,Senica,48.634732,16.994971,48.586200,16.991340,48.643110,17.006333
2,M3446,Bratislava IV,48.241370,17.034921,48.205450,17.042718,48.252092,17.033278
3,M7099,Bratislava IV,48.189060,17.047200,48.179992,17.059569,48.204150,17.043150
4,M5333,Bratislava V,48.125991,17.131041,48.101220,17.121390,48.129510,17.130100
...,...,...,...,...,...,...,...,...
143,M6688,Gelnica,48.848681,20.932527,48.860990,20.905026,48.868673,20.965148
144,M917,Trebišov,48.635651,21.717199,48.610569,21.780682,48.699365,21.707229
145,M4021,Vranov nad Topľou,48.985932,21.700834,48.948542,21.710467,49.056025,21.601433
146,M1933,Myjava,48.767957,17.562174,48.785850,17.563592,48.749000,17.566630
147,M5626,Košice II,48.647648,21.203522,48.628222,21.165811,48.684930,21.219049

In [63]:
from math import radians, cos, sin, asin, sqrt, pi


def get_hexagon_coordinates(row, radius):
    """
    Calculate the coordinates of a hexagon centered at a given latitude and longitude.

    Parameters:
        row (pandas.Series): A row from the DataFrame containing 'br_lat' and 'br_long' columns.
        radius (float): The radius in meters of the circle in which the hexagon is inscribed.

    Returns:
        list of tuples: A list of tuples containing (latitude, longitude) coordinates of the hexagon vertices.
    """
    coordinates = []
    center_lat = row['br_lat']
    center_lon = row['br_long']
    for i in range(6):
        angle = 2 * pi / 6 * i
        dx = radius * cos(angle)
        dy = radius * sin(angle)
        point_lat = center_lat + (180/pi) * (dy / 6378137)
        point_lon = center_lon + (180/pi) * \
            (dx / 6378137) / cos(center_lat * pi/180)
        coordinates.append((point_lat, point_lon))
    return coordinates


# Radius of the circle in meters in which hexagon is inscribed
radius = 20  # 10 meters radius in kilometers

# Create a new column 'Hexagon_Coordinates' in df_routes
df_routes['Hexagon_Coordinates'] = None  # Initialize with None values

# Iterate through each row in the DataFrame
for index, row in df_routes.iterrows():
    # Create hexagon coordinates for each row
    hexagon_coords = get_hexagon_coordinates(row, radius)
    hexagon_coords.append(hexagon_coords[0])

    # Convert hexagon coordinates from (latitude, longitude) tuples to [longitude, latitude] lists
    hexagon_coords_for_api = [[lon, lat] for lat, lon in hexagon_coords]

    # Assign the hexagon coordinates to the 'Hexagon_Coordinates' column
    df_routes.at[index, 'Hexagon_Coordinates'] = hexagon_coords_for_api

In [75]:
import json
import pandas as pd

# Define the generate_graphhopper_request function without the row_index argument


def generate_graphhopper_request(row: pd.Series, profile: str = "car", multiplier: int = 1) -> str:
    """
    Generate a JSON request for the GraphHopper API based on DataFrame row data.

    Parameters:
        row (pd.Series): A row from the DataFrame containing route data.
        profile (str, optional): The vehicle profile for routing (e.g., "car", "bike", "foot").
        multiplier (int, optional): Multiplier for custom model priority within a specific area.

    Returns:
        str: A JSON string representing the GraphHopper API request.
    """
    hexagon_coords = row['Hexagon_Coordinates']

    data = {
        "points": [
            [row['start_long'], row['start_lat']],
            [row['end_long'], row['end_lat']]
        ],
        "profile": profile,
        "points_encoded": False,
        "ch.disable": True,
        "custom_model": {
            "distance_influence": 15,
            "priority": [
                {
                    "if": "in_area1",
                    "multiply_by": multiplier
                }
            ],
            "speed": [],
            "areas": {
                "area1": {
                    "type": "Feature",
                    "geometry": {
                        "type": "Polygon",
                        "coordinates": [hexagon_coords]
                    },
                    "properties": {}
                }
            }
        }
    }
    # Convert the dictionary to a JSON string
    json_data = json.dumps(data, indent=2)
    return json_data

In [76]:
# Before assigning JSON strings, make sure the columns are of type 'object'
df_routes['car_req_1'] = df_routes['car_req_1'].astype(object)
df_routes['car_req_alt'] = df_routes['car_req_alt'].astype(object)

# Iterate through each bridge in the DataFrame
for index, row in df_routes.iterrows():
    # Generate JSON requests for the current bridge and add them directly to the DataFrame
    df_routes.at[index, 'car_req_1'] = generate_graphhopper_request(
        row, profile="car", multiplier=1)
    df_routes.at[index, 'car_req_alt'] = generate_graphhopper_request(
        row, profile="car", multiplier=0)

In [86]:
# Create empty columns 'car_resp_1' and 'car_resp_alt'
df_routes['car_resp_1'] = None
df_routes['car_resp_alt'] = None

In [115]:
import requests
import json


def call_graphhopper_api(df, row_index, api_key, verbose=False):
    api_endpoint = "https://graphhopper.com/api/1/route"
    headers = {'Content-Type': 'application/json'}

    # Convert request strings to JSON format
    def convert_to_json(request_str):
        try:
            return json.loads(request_str)
        except json.JSONDecodeError as e:
            if verbose:
                print(f"Error in converting string to JSON: {e}")
            return None

    # Function to send a request to the GraphHopper API
    def send_request(request_data):
        if request_data is None:
            if verbose:
                print("Invalid request data. Skipping request.")
            return None

        if verbose:
            print("Sending request to GraphHopper API...")
        response = requests.post(
            api_endpoint, headers=headers, json=request_data, params={'key': api_key})
        if response.status_code == 200:
            if verbose:
                print("Response received successfully.")
            return response.json()
        else:
            if verbose:
                print(
                    f"Failed to receive response: {response.status_code}, Response: {response.text}")
            return None

    # Sending requests and updating the DataFrame
    car_req_1_json = convert_to_json(df.iloc[row_index]["car_req_1"])
    car_req_alt_json = convert_to_json(df.iloc[row_index]["car_req_alt"])

    df.at[row_index, 'car_resp_1'] = send_request(car_req_1_json)
    df.at[row_index, 'car_resp_alt'] = send_request(car_req_alt_json)

    if verbose:
        print("Requests completed.")

In [117]:
import requests

# Define the GraphHopper API endpoint and API key
api_endpoint = "https://graphhopper.com/api/1/route"
# Replace with your actual API key
api_key = "f0b121e6-90d8-4151-b56d-25563fa4fbf9"

# Specify the row index you want to process
row_index_to_process = 0  # Change this to the desired row index

# Usage example:
call_graphhopper_api(df_routes, row_index_to_process,
                     api_key, verbose=True)

Sending request to GraphHopper API...
Response received successfully.
Sending request to GraphHopper API...
Response received successfully.
Requests completed.

In [154]:
for i in range(126, 148):
    call_graphhopper_api(df_routes, i,
                         api_key, verbose=True)
    print(i)

Sending request to GraphHopper API...
Response received successfully.
Sending request to GraphHopper API...
Response received successfully.
Requests completed.
126
Sending request to GraphHopper API...
Response received successfully.
Sending request to GraphHopper API...
Response received successfully.
Requests completed.
127
Sending request to GraphHopper API...
Response received successfully.
Sending request to GraphHopper API...
Response received successfully.
Requests completed.
128
Sending request to GraphHopper API...
Response received successfully.
Sending request to GraphHopper API...
Response received successfully.
Requests completed.
129
Sending request to GraphHopper API...
Response received successfully.
Sending request to GraphHopper API...
Response received successfully.
Requests completed.
130
Sending request to GraphHopper API...
Response received successfully.
Sending request to GraphHopper API...
Response received successfully.
Requests completed.
131
Sending request to GraphHopper API...
Response received successfully.
Sending request to GraphHopper API...
Response received successfully.
Requests completed.
132
Sending request to GraphHopper API...
Response received successfully.
Sending request to GraphHopper API...
Response received successfully.
Requests completed.
133
Sending request to GraphHopper API...
Response received successfully.
Sending request to GraphHopper API...
Response received successfully.
Requests completed.
134
Sending request to GraphHopper API...
Response received successfully.
Sending request to GraphHopper API...
Response received successfully.
Requests completed.
135
Sending request to GraphHopper API...
Response received successfully.
Sending request to GraphHopper API...
Response received successfully.
Requests completed.
136
Sending request to GraphHopper API...
Response received successfully.
Sending request to GraphHopper API...
Response received successfully.
Requests completed.
137
Sending request to GraphHopper API...
Response received successfully.
Sending request to GraphHopper API...
Response received successfully.
Requests completed.
138
Sending request to GraphHopper API...
Response received successfully.
Sending request to GraphHopper API...
Response received successfully.
Requests completed.
139
Sending request to GraphHopper API...
Response received successfully.
Sending request to GraphHopper API...
Response received successfully.
Requests completed.
140
Sending request to GraphHopper API...
Response received successfully.
Sending request to GraphHopper API...
Response received successfully.
Requests completed.
141
Sending request to GraphHopper API...
Response received successfully.
Sending request to GraphHopper API...
Response received successfully.
Requests completed.
142
Sending request to GraphHopper API...
Response received successfully.
Sending request to GraphHopper API...
Response received successfully.
Requests completed.
143
Sending request to GraphHopper API...
Response received successfully.
Sending request to GraphHopper API...
Response received successfully.
Requests completed.
144
Sending request to GraphHopper API...
Response received successfully.
Sending request to GraphHopper API...
Response received successfully.
Requests completed.
145
Sending request to GraphHopper API...
Response received successfully.
Sending request to GraphHopper API...
Response received successfully.
Requests completed.
146
Sending request to GraphHopper API...
Response received successfully.
Sending request to GraphHopper API...
Response received successfully.
Requests completed.
147

In [157]:
df_routes.iloc[107]

ID_mosta                                                           M3011
Okres                                                       Bratislava I
Custom_coor                                                          NaN
br_lat                                                         48.162426
br_long                                                        17.097242
start_lat                                                      48.168682
start_long                                                     17.076438
end_lat                                                        48.159364
end_long                                                       17.104073
Hexagon_Coordinates    [[17.097511269343144, 48.162426001], [17.09737...
car_req_1              {\n  "points": [\n    [\n      17.076438,\n   ...
car_req_alt            {\n  "points": [\n    [\n      17.076438,\n   ...
car_resp_1             {'hints': {'visited_nodes.sum': 80, 'visited_n...
car_resp_alt                                                        None
Name: 107, dtype: object

In [107]:
type(df_routes.iloc[0]["car_req_1"])

str

In [158]:
import feather

# Save your DataFrame to a Feather file
feather.write_dataframe(df_routes, 'data_with_responses.feather')

In [161]:
# Load the DataFrame from the Feather file
loaded_df = feather.read_dataframe('data_with_responses.feather')