In [22]:
import pandas as pd

# Load the Excel file into a DataFrame
df_bridges_all = pd.read_excel("bridges_data_p2.xlsx")

In [23]:
import geopandas as gpd
# Replace the file path with your actual file path
region_path = r'C:\Users\Doktor\Documents\GitHub\Bridges\GeoJSONs\regions_epsg_4326.geojson'  # doma
# region_path = r'C:\Users\relia\Documents\GitHub\Bridges\GeoJSONs\regions_epsg_4326.geojson'  # robota

# Load the GeoJSON file into a GeoDataFrame
region_gdf = gpd.read_file(region_path)


districts_path = r'C:\Users\Doktor\Documents\GitHub\Bridges\GeoJSONs\districts_epsg_4326.geojson'  # doma
# districts_path = r'C:\Users\relia\Documents\GitHub\Bridges\GeoJSONs\districts_epsg_4326.geojson'  # robota

# Load the GeoJSON file into a GeoDataFrame
districts_gdf = gpd.read_file(districts_path)


# Replace the file path with your actual file path
file_path = r'C:\Users\Doktor\Documents\GitHub\Bridges\GeoJSONs\cities_regions_districts_epsg_4326.geojson'  # doma
# file_path = r'C:\Users\relia\Documents\GitHub\Bridges\GeoJSONs\cities_regions_districts_epsg_4326.geojson'  # robota


# Load the GeoJSON file into a GeoDataFrame
settle_gdf = gpd.read_file(file_path)

# Define the types to exclude
types_to_exclude = ['country', 'airport', 'Psie skaly',
                    'county', 'Drevenný kostol', 'Vodopád']

# Create a boolean mask to select rows where the 'type' column is not in types_to_exclude
# and the 'population' column is not null
mask = (~settle_gdf['type'].isin(types_to_exclude)) & (
    settle_gdf['population'] > 0)


# Apply the mask to filter the GeoDataFrame in place
settle_gdf = settle_gdf[mask]

# Drop rows where the 'name' column is "Bratislava" or "Košice" from settle_gdf
settle_gdf = settle_gdf[~settle_gdf["name"].isin(["Bratislava", "Košice"])]

In [24]:
# Load the CSV file into a DataFrame
df_distances = pd.read_csv('distances2.csv')

In [25]:
df_distances

,name,M5897,M1979,M6525,M4584,M3053,M1833,M1055,M1839,M4986,...,M10157,M10121,M10150,M10149,M10080,M9963,M9965,M9966,M9967,M9969
0,Hronský Beňadik,117.0,118.5,119.0,119.1,119.7,120.1,119.1,119.1,118.6,...,210.5,122.3,163.4,179.1,298.0,73.4,74.3,75.1,76.2,76.6
1,Beluša,93.8,98.2,104.5,106.2,108.7,109.3,111.0,111.9,112.7,...,198.4,133.4,162.0,178.8,302.8,110.1,111.5,112.4,115.2,116.4
2,Pusté Pole,280.3,284.3,289.4,290.7,292.8,293.4,294.2,294.9,295.2,...,13.8,77.7,35.2,25.0,117.0,129.9,129.8,129.3,129.9,130.3
3,Hažín nad Cirochou,355.3,358.8,363.1,364.2,365.9,366.4,366.8,367.3,367.4,...,79.9,138.3,104.0,87.1,39.1,185.8,185.1,184.3,183.7,183.5
4,Demandice,143.1,144.2,143.6,143.4,143.6,143.9,142.4,142.3,141.5,...,211.2,120.0,162.5,176.8,290.2,67.8,68.1,68.7,68.6,68.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2785,Čabiny,352.3,356.1,361.0,362.2,364.1,364.7,365.4,366.0,366.2,...,64.9,140.3,101.0,84.3,45.5,190.8,190.3,189.7,189.5,189.5
2786,Vladiča,345.2,349.2,354.4,355.7,357.7,358.3,359.2,359.8,360.2,...,54.4,137.9,96.6,80.9,60.6,189.6,189.2,188.6,188.8,188.9
2787,Korunková,341.3,345.2,350.1,351.3,353.3,353.8,354.6,355.2,355.5,...,53.5,130.4,90.4,73.9,56.6,181.4,180.9,180.3,180.2,180.3
2788,Štefanovičová,97.8,97.8,95.6,95.0,94.7,94.9,92.9,92.6,91.6,...,249.9,161.8,202.9,218.6,336.9,112.1,112.8,113.6,114.4,114.6
2789,Sľažany,99.1,100.6,101.0,101.1,101.7,102.0,101.1,101.1,100.6,...,222.6,136.4,176.5,192.6,313.0,89.5,90.5,91.3,92.7,93.2

In [26]:
# Merge df_distances with settle_gdf on the "name" column
df_distances = df_distances.merge(
    settle_gdf[['name', 'osm_id']], on='name', how='left')

In [31]:
df_distances.shape

(3012, 8127)

In [40]:
settle_gdf[["osm_id", "name"]]

         osm_id                name
4      15243569     Hronský Beňadik
12     26035645              Beluša
13     26035646          Pusté Pole
14     26035647  Hažín nad Cirochou
15     26035648           Demandice
...         ...                 ...
3203  418724594              Čabiny
3204  418724596             Vladiča
3205  418724597           Korunková
3206  418724598       Štefanovičová
3207  418724599             Sľažany

[2790 rows x 2 columns]

In [38]:
settle_gdf["name"].value_counts()

name
Lúčka               4
Závadka             4
Rovné               4
Porúbka             4
Píla                3
                   ..
Nolčovo             1
Jalšové             1
Kunešov             1
Spišský Štiavnik    1
Sľažany             1
Name: count, Length: 2698, dtype: int64

In [37]:
settle_gdf.shape

(2790, 7)

In [41]:
df_bridges_all.to_csv('df_bridges_all.csv', float_format='%.1f')

In [39]:
settle_gdf["name"].value_counts()

name
Lúčka               4
Závadka             4
Rovné               4
Porúbka             4
Píla                3
                   ..
Nolčovo             1
Jalšové             1
Kunešov             1
Spišský Štiavnik    1
Sľažany             1
Name: count, Length: 2698, dtype: int64