In [1]:
import pandas as pd


bridges_path = r"C:\Users\Doktor\Documents\GitHub\Bridges\Data\Bridges_processed.csv"


# Load the Excel file into a DataFrame
df_bridges_all = pd.read_csv(bridges_path, encoding='utf-8', delimiter=',')

In [24]:
import geopandas as gpd
# Replace the file path with your actual file path
region_path = r'C:\Users\Doktor\Documents\GitHub\Bridges\GeoJSONs\regions_epsg_4326.geojson'  # doma
# region_path = r'C:\Users\relia\Documents\GitHub\Bridges\GeoJSONs\regions_epsg_4326.geojson'  # robota

# Load the GeoJSON file into a GeoDataFrame
region_gdf = gpd.read_file(region_path)


districts_path = r'C:\Users\Doktor\Documents\GitHub\Bridges\GeoJSONs\districts_epsg_4326.geojson'  # doma
# districts_path = r'C:\Users\relia\Documents\GitHub\Bridges\GeoJSONs\districts_epsg_4326.geojson'  # robota

# Load the GeoJSON file into a GeoDataFrame
districts_gdf = gpd.read_file(districts_path)


# Replace the file path with your actual file path
file_path = r'C:\Users\Doktor\Documents\GitHub\Bridges\GeoJSONs\cities_regions_districts_epsg_4326.geojson'  # doma
# file_path = r'C:\Users\relia\Documents\GitHub\Bridges\GeoJSONs\cities_regions_districts_epsg_4326.geojson'  # robota


# Load the GeoJSON file into a GeoDataFrame
settle_gdf = gpd.read_file(file_path)

# Define the types to exclude
types_to_exclude = ['country', 'airport', 'Psie skaly',
                    'county', 'Drevenný kostol', 'Vodopád']

# Create a boolean mask to select rows where the 'type' column is not in types_to_exclude
# and the 'population' column is not null
mask = (~settle_gdf['type'].isin(types_to_exclude)) & (
    settle_gdf['population'] > 0)


# Apply the mask to filter the GeoDataFrame in place
settle_gdf = settle_gdf[mask]

# Drop rows where the 'name' column is "Bratislava" or "Košice" from settle_gdf
settle_gdf = settle_gdf[~settle_gdf["name"].isin(["Bratislava", "Košice"])]

settle_gdf["osm_id"] = settle_gdf["osm_id"].astype(int)

In [3]:
# Load the CSV file into a DataFrame
df_distances = pd.read_csv('df_bridges_settlements_distances.csv')

In [4]:
df_distances.head()

,osm_id,name,M5897,M1979,M6525,M4584,M3053,M1833,M1055,M1839,...,M10157,M10121,M10150,M10149,M10080,M9963,M9965,M9966,M9967,M9969
0,15243569,Hronský Beňadik,117.0,118.5,119.0,119.1,119.7,120.1,119.1,119.1,...,210.5,122.3,163.4,179.1,298.0,73.4,74.3,75.1,76.2,76.6
1,26035645,Beluša,93.8,98.2,104.5,106.2,108.7,109.3,111.0,111.9,...,198.4,133.4,162.0,178.8,302.8,110.1,111.5,112.4,115.2,116.4

In [15]:
import random

# Select a random row index
random_row_index = random.choice(df_distances.index)

# Get the osm_id and name at the random row index
random_osm_id = df_distances.at[random_row_index, 'osm_id']
random_name = df_distances.at[random_row_index, 'name']

# Select a random column (excluding the 'osm_id' and 'name' columns)
# Exclude first two columns
random_column = random.choice(df_distances.columns[2:])

# Get the value at the random row and column
random_value = df_distances.at[random_row_index, random_column]

print("Random osm_id:", random_osm_id)
print("Random name:", random_name)
print("Random column:", random_column)
print("Value at random row and column:", random_value)

# Find the chosen bridge in df_bridges_all
chosen_bridge = df_bridges_all[df_bridges_all['ID_mosta'] == random_column]

sirka = chosen_bridge.iloc[0]["Zemepisná_šírka"]
dlzka = chosen_bridge.iloc[0]["Zemepisná_dĺžka"]

print(f"Most: {sirka} {dlzka}")

Random osm_id: 26037331
Random name: Nižná Myšľa
Random column: M7433
Value at random row and column: 69.8
Most: 49.225173819 21.633919055

In [76]:
import random

# Select a random row index
random_row_index = random.choice(df_distances.index)

# Get the osm_id and name at the random row index
random_osm_id = df_distances.at[random_row_index, 'osm_id']
random_name = df_distances.at[random_row_index, 'name']

# Select a random column (excluding the 'osm_id' and 'name' columns)
# Exclude first two columns
random_column = random.choice(df_distances.columns[2:])

# Get the value at the random row and column
random_value = df_distances.at[random_row_index, random_column]

print("Random osm_id:", random_osm_id)
print("Random name:", random_name)
print("Random column:", random_column)
print("Value at random row and column:", random_value)

# Find the chosen bridge in df_bridges_all
chosen_bridge = df_bridges_all[df_bridges_all['ID_mosta'] == random_column]

# Print the coordinates of the chosen bridge
if not chosen_bridge.empty:
    bridge_longitude = chosen_bridge.iloc[0]["Zemepisná_dĺžka"]
    bridge_latitude = chosen_bridge.iloc[0]["Zemepisná_šírka"]
    print(
        f"Coordinates of the Chosen Bridge: {bridge_latitude}, {bridge_longitude}")
else:
    print("\nThe chosen bridge was not found in df_bridges_all.")

    # Find the chosen settlement in settle_gdf
chosen_settlement = settle_gdf[settle_gdf['osm_id'] == random_osm_id]

# Print the coordinates of the chosen settlement
if not chosen_settlement.empty:
    settlement_longitude = chosen_settlement.iloc[0]["geometry"].x
    settlement_latitude = chosen_settlement.iloc[0]["geometry"].y
    print(
        f"Coordinates of the Chosen Settlement: {settlement_latitude}, {settlement_longitude}")
else:
    print("\nThe chosen settlement was not found in settle_gdf.")

Random osm_id: 26037178
Random name: Čierny Brod
Random column: M5863
Value at random row and column: 279.6
Coordinates of the Chosen Bridge: 48.922175837, 21.260463712
Coordinates of the Chosen Settlement: 48.151335, 17.6560302

In [83]:
df_distances_copy = df_distances[['osm_id', 'name', 'M5863']].copy()

# Sort the df_distances DataFrame based on the column "M5863" in ascending order
df_distances_sorted = df_distances_copy.sort_values(by="M5863")

# Drop all rows where the distance in the "M5863" column is greater than 50km
df_distances_within_50km = df_distances_sorted[df_distances_sorted["M5863"] <= 10]

df_distances_within_50km

# Now df_distances_within_50km contains all settlements within 50km of bridge M5863

         osm_id                 name  M5863
1196   26036989            Petrovany    0.6
510    26036260              Kendice    1.3
793    26036565  Drienovská Nová Ves    2.6
282    26036022             Záborské    2.8
2350   26038259              Haniska    4.3
1203   26036996           Dulova Ves    4.7
1101   26036891                Žehňa    5.2
1333   26037137                Janov    5.3
2743  418724550             Radatice    5.3
311    26036051           Ličartovce    5.3
1497   26037304              Drienov    5.4
142    26035879             Mirkovce    5.7
1967   26037809            Kokošovce    6.2
1935   26037776              Ľubovec    6.4
1368   26037173            Abranovce    6.7
2288   26038183             Obišovce    6.8
493    26036243               Bzenov    7.5
1906   26037745       Ruská Nová Ves    7.7
2440   26038353             Lemešany    7.9
1328   26037130                Kysak    8.1
1463   26037269           Teriakovce    8.2
749    26036519         Suchá Dolina    8.6
1736   26037569               Prešov    8.7
1100   26036890              Lesíček    8.9
1162   26036955  Šarišské Bohdanovce    9.4
356    26036099             Rokycany    9.6
1956   26037798              Janovík    9.7
1545   26037360             Ľubotice   10.0

In [84]:
# Create a new DataFrame by merging df_distances_within_50km with settle_gdf on the 'osm_id' column
merged_df = pd.merge(df_distances_within_50km, settle_gdf[[
                     'osm_id', 'population']], on='osm_id', how='left')

merged_df

       osm_id                 name  M5863  population
0    26036989            Petrovany    0.6        1801
1    26036260              Kendice    1.3        1681
2    26036565  Drienovská Nová Ves    2.6         706
3    26036022             Záborské    2.8         523
4    26038259              Haniska    4.3         601
5    26036996           Dulova Ves    4.7         630
6    26036891                Žehňa    5.2         867
7    26037137                Janov    5.3         291
8   418724550             Radatice    5.3         743
9    26036051           Ličartovce    5.3         955
10   26037304              Drienov    5.4        2100
11   26035879             Mirkovce    5.7        1043
12   26037809            Kokošovce    6.2         672
13   26037776              Ľubovec    6.4         506
14   26037173            Abranovce    6.7         572
15   26038183             Obišovce    6.8         387
16   26036243               Bzenov    7.5         727
17   26037745       Ruská Nová Ves    7.7        1009
18   26038353             Lemešany    7.9        1763
19   26037130                Kysak    8.1        1390
20   26037269           Teriakovce    8.2         403
21   26036519         Suchá Dolina    8.6         197
22   26037569               Prešov    8.7       91621
23   26036890              Lesíček    8.9         301
24   26036955  Šarišské Bohdanovce    9.4         634
25   26036099             Rokycany    9.6         810
26   26037798              Janovík    9.7         281
27   26037360             Ľubotice   10.0        2852

In [85]:
# Calculate the sum of the population for all settlements within 50km of the bridge
total_population_within_50km = merged_df['population'].sum()

print("Total population within 50km of the bridge:", total_population_within_50km)

Total population within 50km of the bridge: 116066