In [1]:
import pandas as pd
import numpy as np

# # DOMA
nodes_path = r"C:\Users\Doktor\Documents\GitHub\Bridges\Data\Nodes_processed.csv"
roads_path = r"C:\Users\Doktor\Documents\GitHub\Bridges\Data\Roads_processed.csv"
bridges_path = r"C:\Users\Doktor\Documents\GitHub\Bridges\Data\df_bridges_data.csv"
survey_path = r"C:\Users\Doktor\Documents\GitHub\Bridges\Data\surveys\Survey.csv"

# # ROBOTA
# nodes_path = r"C:\Users\relia\Documents\GitHub\Bridges\Data\Nodes_processed.csv"
# roads_path = r"C:\Users\relia\Documents\GitHub\Bridges\Data\Roads_processed.csv"
# bridges_path = r"C:\Users\relia\Documents\GitHub\Bridges\Data\df_bridges_data.csv"
# survey_path = r"C:\Users\relia\Documents\GitHub\Bridges\Data\surveys\Survey.csv"

# Load the CSV data into a DataFrame
df_nodes = pd.read_csv(nodes_path, encoding='utf-8', delimiter=',')
df_roads = pd.read_csv(roads_path, encoding='utf-8', delimiter=',')
df_bridges_all = pd.read_csv(bridges_path, encoding='utf-8', delimiter=',')
df_survey = pd.read_csv(survey_path, encoding='utf-8', delimiter=',')

C:\Users\Doktor\AppData\Local\Temp\ipykernel_23184\2434045607.py:17: DtypeWarning: Columns (5,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df_nodes = pd.read_csv(nodes_path, encoding='utf-8', delimiter=',')
C:\Users\Doktor\AppData\Local\Temp\ipykernel_23184\2434045607.py:18: DtypeWarning: Columns (10,11,12,25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  df_roads = pd.read_csv(roads_path, encoding='utf-8', delimiter=',')

In [2]:
# Assuming df_bridges_all is your DataFrame
columns_to_convert = ['Zemepisná_dĺžka', 'Zemepisná_šírka', 'Výška', 'Normálna_zaťažiteľnosť',
                      'Výhradná_zaťažiteľnosť_t', 'Výnimočná_zaťažiteľnosť_t', 'Počet_otvorov',
                      'Dĺžka_nosnej_konštrukcie_m', 'Dĺžka_premostenia', 'Volná_šírka_mosta',
                      'Šírka_medzi_obrubami_m', 'Plocha_mosnej_konštrukcie_m2', 'Plocha_mosta_m2']

# Convert specified columns to float
df_bridges_all[columns_to_convert] = df_bridges_all[columns_to_convert].apply(
    pd.to_numeric, errors='coerce')

# Convert Rok_postavenia to integer, assign NaN if not possible
df_bridges_all['Rok_postavenia'] = pd.to_numeric(
    df_bridges_all['Rok_postavenia'], errors='coerce')


df_bridges_all.columns

Index(['ID_mosta', 'Trieda_PK', 'Číslo_PK', 'Most_DC', 'Názov_mosta', 'ID_DC',
       'správcovské_číslo', 'Zemepisná_dĺžka', 'Zemepisná_šírka', 'Výška',
       'Druh_konštrukcie', 'Material', 'Normálna_zaťažiteľnosť',
       'Výhradná_zaťažiteľnosť_t', 'Výnimočná_zaťažiteľnosť_t',
       'Spôsob_stanovenia', 'Predmet_premostenia', 'Rok_postavenia',
       'Zaťažovacia_trieda_STN', 'Počet_otvorov', 'Dĺžka_premostenia',
       'Dĺžka_nosnej_konštrukcie_m', 'Volná_šírka_mosta',
       'Šírka_medzi_obrubami_m', 'Plocha_mosnej_konštrukcie_m2',
       'Plocha_mosta_m2', 'Vlastník_úseku', 'Správca_úseku', 'Okres',
       'Smer_úseku', 'Typ_úseku', 'Počiatočný_uzol', 'Koncový_uzol', 'úsek_ID',
       'úsekové_staničenie_začiatku_DC_m',
       'Kilometrovníkové_staničenie_začiatku_DC_km',
       'Kumulatívne_staničenie_začiatku_DC_km', 'Poradie', 'Kraj', 'n_2012',
       'n_2013', 'n_2014', 'n_2015', 'n_2016', 'n_2017', 'n_2018', 'n_2019',
       'n_2020', 'n_2021', 'n_2022', 'n_2023'],
      dtype='object')

In [3]:
#DOMA
SC_BA = r"C:\Users\Doktor\Documents\GitHub\Bridges\01_SC_BA\DT\sorted_bridges_paths_BA.xlsx"
SC_TA = r"C:\Users\Doktor\Documents\GitHub\Bridges\02_SC_TA\DT\sorted_bridges_paths_TT.xlsx"
SC_NR = r"C:\Users\Doktor\Documents\GitHub\Bridges\04_SC_NR\DT\sorted_bridges_paths_NR.xlsx"

# # ROBOTA
# SC_BA = r"C:\Users\relia\Documents\GitHub\Bridges\01_SC_BA\DT\sorted_bridges_paths_BA.xlsx"
# SC_TA = r"C:\Users\relia\Documents\GitHub\Bridges\02_SC_TA\DT\sorted_bridges_paths_TT.xlsx"
# SC_NR = r"C:\Users\relia\Documents\GitHub\Bridges\04_SC_NR\DT\sorted_bridges_paths_NR.xlsx"

df_SC_BA = pd.read_excel(SC_BA)
df_SC_TA = pd.read_excel(SC_TA)
df_SC_NR = pd.read_excel(SC_NR)

In [4]:
import pandas as pd
import numpy as np

# Function to convert various types to a list of integers or return an empty list


def to_int_list(s):
    # Check if s is NaN (missing value)
    if pd.isna(s):
        return []
    # If s is a float or integer, convert it directly to a list with a single element
    elif isinstance(s, (float, int)):
        return [int(s)]
    # If s is a string, attempt to split it and convert to integers
    elif isinstance(s, str) and s != '':
        return [int(x) for x in s.split(', ')]
    # Return an empty list for any other cases (e.g., empty strings)
    else:
        return []


# Apply the function to the 'Číslo_sčítacieho_úseku' column of each DataFrame
df_SC_BA['Číslo_sčítacieho_úseku'] = df_SC_BA['Číslo_sčítacieho_úseku'].apply(
    to_int_list)
df_SC_TA['Číslo_sčítacieho_úseku'] = df_SC_TA['Číslo_sčítacieho_úseku'].apply(
    to_int_list)
df_SC_NR['Číslo_sčítacieho_úseku'] = df_SC_NR['Číslo_sčítacieho_úseku'].apply(
    to_int_list)

In [5]:
df_SC_BA.shape, df_SC_TA.shape, df_SC_NR.shape

((133, 5), (383, 5), (526, 5))

In [6]:
# Concatenate the DataFrames along the columns axis
merged_df = pd.concat([df_SC_BA, df_SC_TA, df_SC_NR], axis=0)

cislo = 30
# Print the merged DataFrame
merged_df.iloc[cislo:cislo+5]

,ID_mosta,Názov_mosta,Zemepisná_šírka,Zemepisná_dĺžka,Číslo_sčítacieho_úseku
30,M4331,II_503 - 005 Most cez potok Čierna Voda,48.201885,17.414043,[81629]
31,M4330,II_503 - 006A Most nad diaľnicou D1 pri Senci,48.236435,17.366278,"[81627, 81096]"
32,M2263,II_503 - 007 Most cez zrážkový potok Viničné,48.278562,17.296622,[81100]
33,M2684,II_503 - 008 most nad traťou ŽSR - Pezinok,48.287378,17.281569,[81100]
34,M7488,II_503 - 009 Most na peáži v Pezinku,48.301233,17.281539,"[80116, 81106, 81020]"

In [7]:
# Step 1: Convert ÚSEK to integer in df_survey
df_survey['ÚSEK'] = df_survey['ÚSEK'].astype(int)

# Step 2: Define a function to get the list of 'S' values for each 'Číslo_sčítacieho_úseku'


def get_intenzita(cislo_scitacieho_useku):
    if not cislo_scitacieho_useku:  # Check if the list is empty
        return 0  # Return zero if the list is empty
    else:
        # Find matching 'S' values and return them as a list
        intenzita_list = df_survey[df_survey['ÚSEK'].isin(
            cislo_scitacieho_useku)]['S'].tolist()
        if not intenzita_list:  # If no matches found, return zero
            return 0
        return intenzita_list


# Step 3: Apply the function to create the 'intenzita' column
merged_df['intenzita'] = merged_df['Číslo_sčítacieho_úseku'].apply(
    get_intenzita)

In [8]:
import numpy as np

# Function to calculate mean of intenzita or return NaN


def calculate_mean_intenzita(intenzita):
    # Check if intenzita is a list and not empty
    if isinstance(intenzita, list) and intenzita:
        # Calculate mean if there are elements in the list
        return np.mean(intenzita)
    # Return NaN for empty lists or if intenzita is 0
    return np.nan


# Apply the function to the 'intenzita' column
merged_df['intenzita'] = merged_df['intenzita'].apply(calculate_mean_intenzita)

In [9]:
merged_df['intenzita']

0      5971.0
1      5971.0
2      5971.0
3      5971.0
4      5971.0
        ...
521       NaN
522     353.0
523       NaN
524    3526.0
525    2056.0
Name: intenzita, Length: 1042, dtype: float64

In [10]:
merged_df_with_bridges = merged_df.copy()
# Drop the "Číslo_sčítacieho_úseku" column
merged_df_with_bridges = merged_df_with_bridges.drop(
    columns=['Číslo_sčítacieho_úseku'])

merged_df_with_bridges.columns

Index(['ID_mosta', 'Názov_mosta', 'Zemepisná_šírka', 'Zemepisná_dĺžka',
       'intenzita'],
      dtype='object')

In [11]:
# Merge the dataframes based on the "ID_mosta" column
merged_df_with_bridges = merged_df_with_bridges.merge(
    df_bridges_all[['ID_mosta', 'Trieda_PK']], on='ID_mosta', how='left')

In [12]:
# Fill missing values in "Trieda_PK" column with "Unknown"
merged_df_with_bridges['Trieda_PK'] = merged_df_with_bridges['Trieda_PK'].fillna(
    'Unknown')

# Filter out bridges with "Trieda_PK" value set as "Unknown"
filtered_df = merged_df_with_bridges[merged_df_with_bridges['Trieda_PK'] == 'Unknown']

# Drop the rows with "Unknown" values in the "Trieda_PK" column
merged_df_with_bridges = merged_df_with_bridges.drop(filtered_df.index)

In [13]:
# Define the mapping from textual classes to numerical values
class_to_num = {
    "cesta III. triedy": 4,
    "cesta II. triedy": 3
}

# Map the textual classes to numerical values
merged_df_with_bridges["Trieda_PK"] = merged_df_with_bridges["Trieda_PK"].map(
    class_to_num)

In [14]:
merged_df_with_bridges

,ID_mosta,Názov_mosta,Zemepisná_šírka,Zemepisná_dĺžka,intenzita,Trieda_PK
0,M4765,II_501 - 002 Most cez Malý potok v Lozorne,48.332244,17.048768,5971.0,3
1,M1160,II_501 - 003 Most cez Suchý jarok,48.335665,17.056195,5971.0,3
2,M3059,II_501 - 004 Most cez Ondriášov potok - za Loz...,48.339914,17.077483,5971.0,3
3,M1000,II_501 - 005 Most cez Jablonovský potok,48.348188,17.099172,5971.0,3
4,M1635,II_501 - 006 Most cez Beňovský potok - Pernek,48.362373,17.123062,5971.0,3
...,...,...,...,...,...,...
1037,M3905,Most medzi hrádzami Váhu v obci Vlčany,48.040019,17.961544,NaN,4
1038,M270,Most cez odvodňovací kanál pred obcou Palárikovo,48.043267,18.005637,353.0,4
1039,M3284,Most v Hornej Kráľovej - cez potok,48.244995,17.916764,NaN,4
1040,M93,Most v obci Močenok,48.232865,17.923729,3526.0,4
1041,M5299,Most v obci Hájske,48.255537,17.870122,2056.0,4

In [15]:
df_bridges_settlements_distances_path = r"C:\Users\Doktor\Documents\GitHub\Bridges\Data\df_distances_data.csv"

# Load the CSV file into a DataFrame
df_distances = pd.read_csv(
    df_bridges_settlements_distances_path, encoding='utf-8', delimiter=',')

In [16]:
def sum_population_around_bridges(df_bridges, df_distances, lst):
    # Make sure lst is sorted to properly define ranges
    lst = sorted(lst)

    # Prepare the column names based on the list
    column_names = [f'area_{i+1}' for i in range(len(lst))]

    # Initialize the columns in df_bridges
    for col in column_names:
        df_bridges[col] = 0

    # Iterate over each bridge in df_bridges
    for index, bridge in df_bridges.iterrows():
        # Extract the bridge ID
        bridge_id = bridge['ID_mosta']

        # If the bridge ID exists in df_distances columns
        if bridge_id in df_distances.columns:
            # For each area, calculate the sum of populations
            for i, perimeter in enumerate(lst):
                # Define the range for this area
                min_dist = 0 if i == 0 else lst[i-1]
                max_dist = perimeter

                # Filter settlements within this range
                within_range = df_distances[(df_distances[bridge_id] > min_dist) & (
                    df_distances[bridge_id] <= max_dist)]

                # Sum their populations and assign to the corresponding column in df_bridges
                df_bridges.loc[index, column_names[i]
                               ] = within_range['population'].sum()

    return df_bridges

In [17]:
# Example usage
lst = [2, 7, 17]
merged_df_with_bridges_updated = sum_population_around_bridges(
    merged_df_with_bridges, df_distances, lst)

In [18]:
merged_df_with_bridges_updated

,ID_mosta,Názov_mosta,Zemepisná_šírka,Zemepisná_dĺžka,intenzita,Trieda_PK,area_1,area_2,area_3
0,M4765,II_501 - 002 Most cez Malý potok v Lozorne,48.332244,17.048768,5971.0,3,2828,16446,90765
1,M1160,II_501 - 003 Most cez Suchý jarok,48.335665,17.056195,5971.0,3,2828,8013,120532
2,M3059,II_501 - 004 Most cez Ondriášov potok - za Loz...,48.339914,17.077483,5971.0,3,1077,5943,124353
3,M1000,II_501 - 005 Most cez Jablonovský potok,48.348188,17.099172,5971.0,3,1077,3638,80100
4,M1635,II_501 - 006 Most cez Beňovský potok - Pernek,48.362373,17.123062,5971.0,3,810,5566,83916
...,...,...,...,...,...,...,...,...,...
1037,M3905,Most medzi hrádzami Váhu v obci Vlčany,48.040019,17.961544,NaN,4,3442,9879,91760
1038,M270,Most cez odvodňovací kanál pred obcou Palárikovo,48.043267,18.005637,353.0,4,0,16131,97834
1039,M3284,Most v Hornej Kráľovej - cez potok,48.244995,17.916764,NaN,4,6218,3177,179474
1040,M93,Most v obci Močenok,48.232865,17.923729,3526.0,4,6218,3177,182423
1041,M5299,Most v obci Hájske,48.255537,17.870122,2056.0,4,1378,17075,84487

In [40]:
# DataFrame with known intensity
df_known_intensity = (merged_df_with_bridges_updated.copy()).dropna(subset=[
                                                           'intenzita'])

# DataFrame with unknown intensity
df_unknown_intensity = merged_df_with_bridges_updated[merged_df_with_bridges_updated['intenzita'].isna(
)]

In [41]:
df_known_intensity[["ID_mosta", 'Trieda_PK',
                    'area_1', 'area_2', 'area_3', 'intenzita']]

     ID_mosta  Trieda_PK  area_1  area_2  area_3  intenzita
0       M4765          3    2828   16446   90765     5971.0
1       M1160          3    2828    8013  120532     5971.0
2       M3059          3    1077    5943  124353     5971.0
3       M1000          3    1077    3638   80100     5971.0
4       M1635          3     810    5566   83916     5971.0
...       ...        ...     ...     ...     ...        ...
1034    M1699          4       0   11348   82645     3921.0
1035    M2705          4       0    9761   88161     3207.0
1038     M270          4       0   16131   97834      353.0
1040      M93          4    6218    3177  182423     3526.0
1041    M5299          4    1378   17075   84487     2056.0

[703 rows x 6 columns]

In [42]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Split data into features and target
X = df_known_intensity[['Trieda_PK', 'area_1', 'area_2', 'area_3']]
y = df_known_intensity['intenzita']

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)

# Scale features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [43]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Train a Linear Regression model
lr = LinearRegression()
lr.fit(X_train_scaled, y_train)

# Predict on the testing set
y_pred = lr.predict(X_test_scaled)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")

Mean Squared Error: 7044994.907143518

In [55]:
# Scale the entire dataset
X_scaled = scaler.transform(X)

# Make predictions on the entire dataset
y_predictions = lr.predict(X_scaled)

# Add the predictions as a new column in the df_known_intensity DataFrame
df_known_intensity['Prediction'] = y_predictions

df_known_intensity['Absolute_Difference'] = (
    - df_known_intensity['intenzita'] + df_known_intensity['Prediction'])

# Calculate the relative difference (as a percentage)
df_known_intensity['Relative_Difference'] = (
    df_known_intensity['Absolute_Difference'] / df_known_intensity['intenzita']) * 100

In [56]:
df_known_intensity[['ID_mosta', 'Trieda_PK', 'area_1', 'area_2',
                    'area_3', 'intenzita', 'Prediction', "Absolute_Difference", "Relative_Difference"]]

,ID_mosta,Trieda_PK,area_1,area_2,area_3,intenzita,Prediction,Absolute_Difference,Relative_Difference
0,M4765,3,2828,16446,90765,5971.0,5310.110303,-660.889697,-11.068325
1,M1160,3,2828,8013,120532,5971.0,5190.154339,-780.845661,-13.077301
2,M3059,3,1077,5943,124353,5971.0,4663.417165,-1307.582835,-21.898892
3,M1000,3,1077,3638,80100,5971.0,3916.844838,-2054.155162,-34.402197
4,M1635,3,810,5566,83916,5971.0,4020.396471,-1950.603529,-32.667954
...,...,...,...,...,...,...,...,...,...
1034,M1699,4,0,11348,82645,3921.0,1559.640836,-2361.359164,-60.223391
1035,M2705,4,0,9761,88161,3207.0,1535.897015,-1671.102985,-52.107982
1038,M270,4,0,16131,97834,353.0,2064.648523,1711.648523,484.886267
1040,M93,4,6218,3177,182423,3526.0,4007.179060,481.179060,13.646598
1041,M5299,4,1378,17075,84487,2056.0,2295.611244,239.611244,11.654243

In [63]:
df_known_intensity["Relative_Difference"].describe()

count     703.000000
mean       39.387294
std       110.845826
min       -95.669402
25%       -24.551078
50%        11.177499
75%        65.830746
max      1019.886851
Name: Relative_Difference, dtype: float64

In [57]:
df_known_intensity["Trieda_PK"].value_counts()

Trieda_PK
3    355
4    348
Name: count, dtype: int64

In [69]:
# Split data into features and target
X = df_unknown_intensity[['Trieda_PK', 'area_1', 'area_2', 'area_3']]

# Scale the entire dataset
X_scaled = scaler.transform(X)

# Make predictions on the entire dataset
y_predictions = lr.predict(X_scaled)

# Add the predictions as a new column in the df_known_intensity DataFrame
df_unknown_intensity['Prediction'] = y_predictions*2

df_unknown_intensity[['ID_mosta', 'Trieda_PK', 'area_1', 'area_2',
                    'area_3', 'intenzita', 'Prediction']]

C:\Users\Doktor\AppData\Local\Temp\ipykernel_23184\1749528047.py:11: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     ID_mosta  Trieda_PK  area_1  area_2  area_3  intenzita   Prediction
68      M7647          4       0    6425   36032        NaN  1235.536024
69      M6099          4       0   24272   19846        NaN  3018.828078
84      M2485          4    2686    7277   41096        NaN  2859.684985
87      M2987          4     898   29024  136824        NaN  7260.017131
91      M4750          4    4408   39115   62352        NaN  8291.705279
...       ...        ...     ...     ...     ...        ...          ...
1032    M4043          4    1616    4857   55804        NaN  2409.124857
1033    M5219          4    1165   11025   69316        NaN  3314.354166
1036    M1386          4       0    6977   80856        NaN  2525.756033
1037    M3905          4    3442    9879   91760        NaN  4952.946784
1039    M3284          4    6218    3177  179474        NaN  7933.999984

[336 rows x 7 columns]

In [70]:
df_unknown_intensity['Prediction'].describe()

count      336.000000
mean      4396.508705
std       2503.024296
min          9.088957
25%       2589.792954
50%       4050.647360
75%       5791.556660
max      14516.370610
Name: Prediction, dtype: float64

In [74]:
# Sort df_unknown_intensity by the 'Prediction' column in descending order
df_unknown_intensity_sorted = df_unknown_intensity.sort_values(
    by='Prediction', ascending=True)

df_unknown_intensity_sorted

,ID_mosta,Názov_mosta,Zemepisná_šírka,Zemepisná_dĺžka,intenzita,Trieda_PK,area_1,area_2,area_3,Prediction
801,M5127,Most cez potok v katastri obce Tešmák,48.064145,18.981236,NaN,4,0,313,18979,9.088957
191,M3490,4269-001 Most cez Zlatnický potok za mestom Sk...,48.841007,17.269937,NaN,4,0,1255,25518,304.677560
819,M313,Most cez potok Olvár pred obcou Plášťovce,48.145745,19.020105,NaN,4,0,3841,22059,532.726676
818,M6558,Most cez potok Kleniansky - Ipeľské Uľany,48.141126,19.020395,NaN,4,0,4251,21698,573.989762
197,M1314,4269-002 Most cez Zlatnický potok za mestom Sk...,48.828277,17.292755,NaN,4,0,3659,25010,590.455861
...,...,...,...,...,...,...,...,...,...,...
860,M1263,most v katastri Dolná Malanta,48.324635,18.157813,NaN,4,0,95400,72439,13316.940479
861,M1022,Most v obci Pohranice cez potok,48.331309,18.178540,NaN,4,1078,96958,64183,13839.988297
393,M6802,Most cez bezmenný potok pred obcou Lovčice,48.361097,17.677616,NaN,4,2474,83245,108480,14055.153731
394,M787,Most nad diaľnicou na št. ceste III/062008 Zav...,48.358836,17.677686,NaN,4,2474,83245,114157,14209.847910
414,M4257,Most na poľnej ceste v smere Sereď - Nový Majer,48.282826,17.708730,NaN,4,17224,16868,150905,14516.370610

In [79]:
# Filter rows where Trieda_PK is 3
df_tpk_3 = concatenated_df[concatenated_df["Trieda_PK"] == 3]

# Filter rows where Trieda_PK is 4
df_tpk_4 = concatenated_df[concatenated_df["Trieda_PK"] == 4]

# Describe the "Prediction" column for Trieda_PK == 3
description_tpk_3 = df_tpk_3["Prediction"].describe()

# Describe the "Prediction" column for Trieda_PK == 4
description_tpk_4 = df_tpk_4["Prediction"].describe()

description_tpk_3, description_tpk_4

(count      355.000000
 mean      5330.609808
 std       2225.064097
 min       2602.924306
 25%       3921.329878
 50%       4784.532842
 75%       5968.795496
 max      25684.458255
 Name: Prediction, dtype: float64,
 count      684.000000
 mean      3400.268186
 std       2384.494712
 min          9.088957
 25%       1562.804670
 50%       2907.528534
 75%       4488.112052
 max      14516.370610
 Name: Prediction, dtype: float64)

In [83]:
df_tpk_4known = df_known_intensity[df_known_intensity["Trieda_PK"] == 4]
description_tpk_4known = df_tpk_4known["intenzita"].describe()
description_tpk_4known

count      348.000000
mean      2405.913793
std       1873.559267
min        228.000000
25%       1238.000000
50%       1962.000000
75%       2888.000000
max      13288.000000
Name: intenzita, dtype: float64